<div style="display:flex; flex-direction:column; row-gap:2rem">
    <div style="box-shadow: 0px 2px 10px 0px; padding:10px;">
        <h1>{{ todo.name }}</h1>
        <div style="display:flex;">
            <label> Descp: </label>
            <dd>{{ todo.description }}</dd>
        </div>
        <div style="display:flex;">
            <label> Created at: </label>
            <dd>{{ todo.created_at }}</dd>
        </div>
        <div style="display:flex;">
            <label> Deadline: </label>
            <dd>{{ todo.deadline }}</dd>
        </div>
    </div>
</div>